fastapi
uvicorn[standard]
python-multipart
pydantic
pymongo
requests
python-dotenv
 
# RAG stack
langchain-community
langchain-text-splitters
langchain-openai
langchain-core
langchain-classic
faiss-cpu
sentence-transformers
 
# Voice
faster-whisper
pyttsx3
 
# If/when you add face recognition login, add these too:
# cmake
# dlib
# face-recognition
# opencv-python-headless